@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 16px 'Roboto', sans-serif;
    background-color: #333333;
}

input[type=text] {
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 6px;
    border: 1px solid #cccccc;
}
button {
    margin-top: 0.25em;
    font-size: 1.2em;
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid transparent;
    background-color: #006699;
    color: #ffffff;
}

.site {
    display: flex;
    justify-content: center;
    margin-top: 3em;
}
.postagem {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 1.5em;
    background-color: #efefef;
}

.postagem .foto {
}
.postagem .foto img {
    width: 100%;
}

.postagem .barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.postagem .barra .icones img {
    width: 24px;
    margin-left: 0.3em;
    cursor: pointer;
}
.postagem .barra .legenda {
    font-size: 1.15em;
    margin: 0.5em;
}
.postagem .comentarios {
    border-top: 1px solid #cccccc;
}
.postagem .comentarios .comentario {
    padding: 1em;
    margin: 1em 0;
    border-radius: 10px;
    background-color: #eeeeee;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.05), -4px -4px 15px rgba(0, 0, 0, 0.05);
}
.postagem .comentarios .comentario span {
    font-weight: 500;
}
.postagem .comentarios .comentario p {
    padding-top: 0.15em;
}


.postagem .formulario {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #cccccc;
    padding: 1em 0;
    /* Deixa este elemento invisivel */
    /* visibility: hidden; */ 
}
